* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url(./assets/fundounsplash.jpg);
  min-height: 100vh;
  min-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mensagem {
  text-align: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  color: whitesmoke;
  font: 400 14px Roboto;
}

.mensagem h1,
.mensagem h2 {
  padding-bottom: 2rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links img {
  width: 75%;
}
