.sobre {
  display: flex;
  align-items: center;
  margin: 0 7rem;

  background: #9ecbeb;
  border-radius: 0.5rem;
}

.sobre img {
  width: 16rem;
  height: 16rem;
  display: flex;
  align-self: center;
  margin: 2rem 2rem 2rem 7rem;
}
.sobre p {
  font: 300 20px Roboto;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
  padding: 2rem 2rem 2rem 7rem;
}

.conteudo .paixoes-row-one {
  margin-top: 3rem;
}

.conteudo .paixoes-row-one,
.conteudo .paixoes-row-two {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 3rem;
}

.paixao {
  font: 300 24px Roboto;
  line-height: 30px;
  text-align: center;

  letter-spacing: 0.05em;
  margin-top: 2rem;
}

.footer {
  margin-top: 0;
}

@media (max-width: 720px) {
  .sobre {
    flex-direction: column;
  }
  .sobre img {
    margin: 2rem 0 0rem 0rem;
  }
  .sobre p {
    padding: 2rem 2rem;
  }

  .conteudo .paixoes-row-one,
  .conteudo .paixoes-row-two {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .sobre {
    margin: 0 3rem;
  }
  .sobre img {
    width: 10rem;
    height: auto;
  }

  .sobre p {
    font: 300 18px Roboto;
  }

  .paixao {
    font: 300 22px Roboto;
  }
}

@media (max-width: 330px) {
  .sobre {
    margin: 0 2rem;
  }
  .sobre img {
    width: 8rem;
    height: auto;
  }

  .sobre p {
    font: 300 16px Roboto;
  }

  .paixao {
    font: 300 20px Roboto;
  }
}
