:root {
  --pastel-blue-dark: #7aa6db;
  --pastel-blue-light: #b0d4ff;
  --pastel-pink: #f2d0dd;
  --pastel-purple: #b5a8ec;
  --dark-blue: #045885;
  --deep-dark-grey: #222e3d;
  --dark-grey: #2e394a;

  --font-logo: 400 50px "Sue Ellen Francisco", cursive;
  --font-title: 600 italic 65px "Cabin", sans-serif;
  --font-secondary-title: 400 30px "Cabin", sans-serif;
  --font-title-sections: 400 18px "Cabin", sans-serif;
  --font-a-nav: 400 20px "Cabin", sans-serif;
  --font-p-card: 400 16px "Libre Franklin", sans-serif;
  /* --font-a-projects: 300 16px "Space Grotesk", sans-serif; */
  --font-p-footer: 400 30px "Sue Ellen Francisco", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--pastel-blue-dark);
  scroll-behavior: smooth;

  /* scrollbar */
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--pastel-blue-dark);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--pastel-blue-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pastel-pink);
  /* background-color: rgba(245, 245, 245, 0.571); */
  border-radius: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}
section {
  margin: 0 5rem 8.5rem 5rem;
}
h2 {
  text-align: center;
  font: var(--font-h2);
  color: whitesmoke;
  letter-spacing: 0.05em;
  margin-bottom: 6rem;
}

@media (max-width: 500px) {
  section {
    margin: 0 1rem 4rem 1rem;
  }
  h2 {
    margin-bottom: 4rem;
    font-size: 24px;
  }
}
