* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
body {
  width: 90vw;
  height: 90vh;
  background: #e9f4f8;
}

header {
  width: 100vw;
  margin-bottom: 5rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

nav .buttons-menu {
  width: 18rem;
  height: fit-content;
  text-align: center;
  margin-left: 1rem;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;

  background-color: #e9f4f8;

  font: 400 17px Roboto;
  line-height: 2rem;

  color: #000000;
}
a:hover {
  background-color: #08565f;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
