main {
  margin: 0 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}
.logo {
  font: var(--font-logo);
  color: var(--dark-grey);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #b0d4ff;
  padding: 0 5rem;
}

nav ul {
  display: flex;
}
nav ul li {
  padding: 0 1rem;
}

nav ul a {
  color: var(--dark-grey);
  font: var(--font-a-nav);
}

#introduction {
  white-space: pre-line;
  text-align: left;
  margin: auto;
  /* background-color: black; */
  max-width: 725px;
}

.first-title {
  font: var(--font-title);
  color: var(--dark-grey);
}

.secondary-title {
  font: var(--font-secondary-title);
  color: var(--dark-grey);
}

.section-title {
  font: var(--font-title-sections);
  color: var(--dark-grey);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-style: wavy;
  text-decoration-color: var(--pastel-blue-light);
  width: fit-content;
}

#about-me {
  display: grid;
  gap: 6.25rem;
}

#about-me p {
  font: var(--font-p-card);
  color: var(--dark-grey);
  padding: 0 2.5rem;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #020202;
}

.section-one,
.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8rem;
}

.section-one .square-one,
.section-two .square-one {
  background-color: var(--pastel-blue-light);
}

.section-one .square-two {
  background-color: var(--pastel-purple);
}

.section-one .information,
.section-two .information {
  width: 500px;
  height: 204px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--pastel-blue-light);
}

.section-one img {
  width: 100%;
}

.section-two {
  margin: 0 11rem;
}

.section-two .information {
  width: 400px;
}

.section-two img {
  width: 40%;
}

.section-two .square-two {
  background-color: var(--pastel-pink);
}

#projects {
  display: grid;
  gap: 6.25rem;
}

.grid-projects {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 3rem;
}
