main {
  margin: 0 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}
.logo {
  font: var(--font-logo);
  color: var(--dark-grey);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #b0d4ff;
  padding: 0 5rem;
}

nav ul {
  display: flex;
}
nav ul li {
  padding: 0 1rem;
}

nav ul a {
  color: var(--dark-grey);
  font: var(--font-a-nav);
}

#introduction {
  white-space: pre-line;
  text-align: left;
  margin: auto;
  /* background-color: black; */
  max-width: 725px;
}

.first-title {
  font: var(--font-title);
  color: var(--dark-grey);
}

.secondary-title {
  font: var(--font-secondary-title);
  color: var(--dark-grey);
}
