main {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.logo {
  font: var(--font-logo);
  color: var(--dark-grey);
  text-align: center;
  font-size: 38px;
}

header {
  border-bottom: 2px solid #b0d4ff;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  padding: 0.5rem 0.2rem;
}

nav ul a {
  color: var(--dark-grey);
  font: var(--font-a-nav);
  font-size: 16px;
}

#introduction {
  white-space: pre-line;
  text-align: center;
  margin: auto;
  max-width: 250px;
}

.first-title {
  font: var(--font-title);
  color: var(--dark-grey);
  font-size: 30px;
}

.secondary-title {
  font: var(--font-secondary-title);
  color: var(--dark-grey);
  font-size: 20px;
}

.section-title {
  font: var(--font-title-sections);
  color: var(--dark-grey);
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-style: wavy;
  text-decoration-color: var(--pastel-blue-light);
  width: fit-content;
  font-size: 18px;
  margin-bottom: 2.5rem;
  text-align: center;
}

#about-me {
  display: flex;
  flex-direction: column;
}

#about-me p {
  font: var(--font-p-card);
  color: var(--dark-grey);
  padding: 0 1rem;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #020202;
}

.section-one,
.section-two {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin: 1rem 1rem;
}

.section-one .square-one,
.section-two .square-one {
  background-color: var(--pastel-blue-light);
}
.section-one .square-two {
  background-color: var(--pastel-purple);
}

.section-one .information,
.section-two .information {
  width: 260px;
  height: 300px;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--pastel-blue-light);
}

.section-one img {
  width: 80%;
}

.section-two img {
  width: 40%;
}

.section-two .square-two {
  background-color: var(--pastel-pink);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.tecnologies {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin: 0 0 20rem 1rem;
}

.contacts .square-one {
  background-color: var(--pastel-purple);
}
.contacts .square-two {
  background-color: var(--pastel-blue-light);
}

footer {
  border-top: 2px solid #b0d4ff;
  padding: 2rem 0;
  text-align: center;
  font: var(--font-p-footer);
  font-size: 22px;
}
