.bemVindo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.bemVindo h1 {
  font: 300 36px Roboto;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.bemVindo img {
  display: flex;
  align-self: center;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 2rem;
}
@media (max-width: 720px) {
  .bemVindo {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 330px) {
  .bemVindo h1 {
    font-size: 30px;
  }
  .bemVindo img {
    width: 16rem;
    height: auto;
  }
}
/*
@media (max-width: 1024px) {
  .buttonsHeader {
    padding: 2rem 2rem 0 2rem;
  }
  .bemVindo {
    padding: 5% 2rem 7rem 2rem;
  }
  .footer {
    width: 100vw;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .buttonsHeader {
    padding-left: 2rem;
  }

  .bemVindo {
    padding: 4rem 2rem 5.5rem 2rem;
  }
  .footer {
    padding-left: 1rem;
  }
}

@media (max-width: 700px) {
  .buttonsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 3rem 0;
  }
  .buttonsHeader > a {
    margin-bottom: 1rem;
  }
  .bemVindo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bemVindo h1 {
    font-size: 28px;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .bemVindo {
    padding-bottom: 2rem;
  }
  .bemVindo img {
    padding-left: 1rem;
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 375px) {
  .buttonsHeader {
    padding-left: 1rem;
  }
  .buttonsHeader > a {
    width: 16rem;
  }

  .bemVindo img {
    margin-left: 1.5rem;
    width: 16rem;
    height: 16rem;
  }
  .footer {
    font-size: 16px;
  }
}

@media (max-width: 346px) {
  .buttonsHeader > a {
    width: 14rem;
  }
  .bemVindo h1 {
    font-size: 26px;
  }
}

@media (max-width: 320px) {
  .ButtonsHeader > a {
    width: 12rem;
  }
  bemVindo img {
    margin-left: 1.5rem;
    width: 14rem;
    height: 14rem;
  }
  .bemVindo h1 {
    font-size: 24px;
  }
  .footer {
    font-size: 14px;
  }
}
*/
