.bemVindo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.bemVindo h1 {
  font: 300 36px Roboto;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.bemVindo img {
  display: flex;
  align-self: center;
  width: 18.75rem;
  height: 18.75rem;
  margin: 0 2rem;
}
@media (max-width: 720px) {
  .bemVindo {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 330px) {
  .bemVindo h1 {
    font-size: 30px;
  }
  .bemVindo img {
    width: 16rem;
    height: auto;
  }
}
