.projects-row-one,
.projects-row-two,
.projects-row-three {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 5rem;
}
.projects {
  font: 300 24px Roboto;
  line-height: 30px;
  text-align: center;

  letter-spacing: 0.05em;
  margin-top: 2rem;
}

/*
@media (max-width: 1024px) {
  .header {
    padding-left: 6.5rem;
  }
  .header #goBackToLanding {
    margin-right: 2rem;
  }
  .conteudo > .titulo {
    margin-left: 5rem;
  }
  .conteudo .projects-row-two {
    margin-left: 16.8rem;
  }
  .footer {
    margin-left: 22rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 4rem;
  }
  .conteudo > .titulo {
    margin-left: 3rem;
    width: 90vw;
  }

  .conteudo .projects-row-one {
    margin-left: 3rem;
  }
  .conteudo .projects-row-two {
    margin-left: 9rem;
  }
  .footer {
    margin-left: 14rem;
  }
}

@media (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 0;
    margin-bottom: 5rem;
    margin-left: 2.8rem;
  }
  .header > a {
    margin-bottom: 1rem;
  }
  .header #goBackToLanding {
    margin-left: 2.5rem;
  }

  .conteudo {
    margin-top: 10rem;
  }

  .conteudo .titulo {
    width: 96vw;
    height: 4rem;

    margin-top: 2rem;
    margin-left: 0.5rem;
  }

  .titulo h2 {
    font-size: 35px;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .conteudo .projects-row-one,
  .conteudo .projects-row-two,
  .conteudo .projects-row-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-left: 3.5rem;
    margin-bottom: 0;
  }

  .conteudo .projects-row-one p,
  .conteudo .projects-row-two p,
  .conteudo .projects-row-three p {
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
  }

  .footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 12rem;
  }
}

@media (max-width: 425px) {
  .header {
    margin-left: 2rem;
  }
  .header #goBackToLanding {
    margin-right: 2.5rem;
  }
  .conteudo .titulo h2 {
    line-height: 32px;
  }
  .footer {
    margin-left: 4.9rem;
  }
}

@media (max-width: 375px) {
  .header {
    margin-left: 1.5rem;
  }
  .conteudo .titulo h2 {
    line-height: 32px;
  }
  .footer {
    margin-left: 3.5rem;
  }
}

@media (max-width: 320px) {
  .header {
    margin-left: 1rem;
  }
  .header > a {
    width: 16rem;
  }
  .conteudo > .titulo {
    margin-left: 0;
  }
  .conteudo .projects-row-one,
  .conteudo .projects-row-two,
  .conteudo .projects-row-three {
    margin-left: 2rem;
  }

  .footer {
    font-size: 16px;
    margin-left: 2.8rem;
  }
}
*/
